*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    background-color: #003366;
    padding: 20px;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 18px;
}
.menu ul li a:hover{
    background-color: #0055cc;
}
.sec1{
    width: 100%;
    height: 700px;
    background-image: url("../img/c1\ \(1\).jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.textsec1{
    text-align: center;
    padding: 20%;
}
.textsec1 h1{
    color: #003366;
    font-size: 36px;
}
.textsec1 p{
    color: #272727;
    font-size: 20px;
}

.sec2{
    width: 100%;
    height: 500px;
    background-color: #f4f4f4;
    
}
.card{
    width: 400px; 
    display: inline-block;
    background-color: white;
    text-align: center;
    margin-top: 60px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);
    height: auto;
    border-radius: 10px;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 60px;
}
.card img{
    width: 55%;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 10px;
}
.card h2{
    color: #003366;
}
.card p{
    color: #555555;
}
.sec3{
    width: 100%;
    height: 500px;
}
.img{
    width: 40%;
    display: inline-block;
}
.img img{
    width: 90%;
    margin: 40px;
    border-radius: 10px;
}
.text{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 40px;
}
.text h2{
    color: #003366;
}
.text p{
    color: #555555;
}
footer{
    width: 100%;
    background-color: #003366;
}
footer ul{
    text-align: center;
}
footer ul li{
    display: inline-block;
    padding: 10px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color: #cccccc;
}